---
import Layout from "../layouts/layout.astro";

const title1 = "Hi, I'm Matt.";
---

<Layout title="Home Page" herotitle={title1} herotext="I'm a front-end developer.">
	<p>Welcome to my portfolio</p>
</Layout>
