---
import favicon from "../assets/images/favicon.png";
---

<div
  id="about"
  class="container flex justify-center mx-auto sm:max-w-[65%] max-w-[85%] my-10 min-h-[500px] bg-orange-50 rounded-lg"
>
  <div class="flex flex-col">
    <div class="flex flex-row justify-center pt-10">
      <h1 class="text-orange-500 font-bold items-center sm:text-5xl text-4xl">
        About
      </h1>
      <img class="sm:h-4 sm:w-4 h-3 w-3 mt-[23px] sm:mt-[30px]" src={favicon} />
    </div>
    <div class="2xl:px-30 xl:px-20 lg:px-16 sm:px-10 px-8 py-10">
      <div class="">
        <p class="">
          Hi, I'm Matt, an enthusiastic front-end developer who thrives on
          crafting stunning and user-friendly web experiences. My expertise lies
          in building intuitive and responsive interfaces that combine style and
          functionality.
        </p><br />
        <p>
          My journey into web development began during my degree at university
          where I discovered my passion for coding and design. Since then, I've
          been dedicated to learning everthing I can to solve complex problems
          and turn them into elegant solutions.
        </p><br />

        <p class="">
          I'm well-versed in popular frameworks such as React and Angular,
          enabling me to create dynamic and interactive web applications. I
          enjoy staying up-to-date with the latest tools and frameworks,
          continuously expanding my skill set to solve the continuous and
          seemingly infinite challenges that programming provides.
        </p><br />
      </div>
    </div>
  </div>
</div>
