---

---
<div class="flex flex-row justify-center bg-[url('src/Assets/images/waves.svg')] bg-orange-100 bg-cover bg-center bg-no-repeat aspect-[2160/720]">
    <div id="contact" class="container flex justify-center mx-auto mx-md my-10 h-screen bg-orange-50 rounded-lg">
        <h1 class="text-orange-700 p-10 text-5xl" >Contact</h1>
    </div>
</div>