---
import waves from "../assets/images/waves.png";
---

<div class="flex bg-orange-100">
  <div class="w-screen">
    <img class="object-fill w-screen" src={waves} alt="waves" />
    <div
      id="contact"
      class="container flex justify-center mx-auto z-10 max-w-[65%] mt-10 h-[500px] bg-[#4d4d4d] rounded-lg"
    >
      <h1 class="text-orange-700 p-10 text-5xl">Contact</h1>
    </div>
  </div>
</div>
