---
import topskillswave from "../assets/images/topskillswave.png";

const name = "Matt";
---

<script>
  // constants
  const COLOR_BG = "#4d4d4d";
  const COLOR_CUBE = "#f97316";
  const SPEED_X = 0.05; // rps
  const SPEED_Y = 0.07; // rps
  const SPEED_Z = 0.02; // rps
  const POINT3D = function (x, y, z) {
    this.x = x;
    this.y = y;
    this.z = z;
  };

  // set up the canvas and context
  const canvas = document.getElementById("cube") as HTMLCanvasElement;
  //document.body.appendChild(canvas);
  var ctx = canvas.getContext("2d");

  // dimensions
  var h = 500;
  var w = 500;
  canvas.height = h;
  canvas.width = w;

  // colours and lines
  ctx.fillStyle = COLOR_BG;
  ctx.strokeStyle = COLOR_CUBE;
  ctx.lineWidth = w / 15;
  ctx.lineCap = "round";

  // cube parameters
  var cx = w / 2;
  var cy = h / 2;
  var cz = 0;
  var size = h / 4;
  var vertices = [
    new POINT3D(cx - size, cy - size, cz - size),
    new POINT3D(cx + size, cy - size, cz - size),
    new POINT3D(cx + size, cy + size, cz - size),
    new POINT3D(cx - size, cy + size, cz - size),
    new POINT3D(cx - size, cy - size, cz + size),
    new POINT3D(cx + size, cy - size, cz + size),
    new POINT3D(cx + size, cy + size, cz + size),
    new POINT3D(cx - size, cy + size, cz + size),
  ];
  var edges = [
    [0, 1],
    [1, 2],
    [2, 3],
    [3, 0], // back face
    [4, 5],
    [5, 6],
    [6, 7],
    [7, 4], // front face
    [0, 4],
    [1, 5],
    [2, 6],
    [3, 7], // connecting sides
  ];

  var timeDelta,
    timeLast = 0;
  requestAnimationFrame(loop);

  function loop(timeNow) {
    timeDelta = timeNow - timeLast;
    timeLast = timeNow;

    ctx.fillRect(0, 0, w, h);

    let angle = timeDelta * 0.001 * SPEED_Z * Math.PI * 2;
    for (let v of vertices) {
      let dx = v.x - cx;
      let dy = v.y - cy;
      let x = dx * Math.cos(angle) - dy * Math.sin(angle);
      let y = dx * Math.sin(angle) + dy * Math.cos(angle);
      v.x = x + cx;
      v.y = y + cy;
    }

    angle = timeDelta * 0.001 * SPEED_X * Math.PI * 2;
    for (let v of vertices) {
      let dy = v.y - cy;
      let dz = v.z - cz;
      let y = dy * Math.cos(angle) - dz * Math.sin(angle);
      let z = dy * Math.sin(angle) + dz * Math.cos(angle);
      v.y = y + cy;
      v.z = z + cz;
    }

    angle = timeDelta * 0.001 * SPEED_Y * Math.PI * 2;
    for (let v of vertices) {
      let dx = v.x - cx;
      let dz = v.z - cz;
      let x = dz * Math.sin(angle) + dx * Math.cos(angle);
      let z = dz * Math.cos(angle) - dx * Math.sin(angle);
      v.x = x + cx;
      v.z = z + cz;
    }

    // draw each edge
    for (let edge of edges) {
      ctx.beginPath();
      ctx.moveTo(vertices[edge[0]].x, vertices[edge[0]].y);
      ctx.lineTo(vertices[edge[1]].x, vertices[edge[1]].y);
      ctx.stroke();
    }

    requestAnimationFrame(loop);
  }
</script>

<div class="flex">
  <div
    class="flex sm:container mx-auto sm:max-w-[65%] max-w-[85%] h-screen sm:-my-28 -my-24"
  >
    <div class="flex flex-col my-auto">
      <div class="flex flex-col gap-1 sm:py-5 py-3">
        <div class="flex flex-row items-end">
          <div class="flex flex-col mr-2">
            <h1
              class="font-bold text-white xl:text-6xl 2xl:text-7xl lg:text-5xl sm:text-4xl text-2xl"
            >
              <span class="items-end"
                >Hi, I'm <span class="text-orange-500"> {name}</span>.</span
              >
            </h1>
            <div
              class="font-bold text-white xl:text-5xl 2xl:text-6xl lg:text-4xl sm:text-3xl text-lg"
            >
              <h1>I'm a front-end developer.</h1>
            </div>
          </div>
          <div class="flex">
            <canvas
              class="sm:h-[100px] h-[50px] w-[50px] sm:w-[100px] xl:h-[180px] xl:w-[180px] lg:h-[140px] lg:w-[140px]"
              id="cube"></canvas>
          </div>
        </div>
      </div>
      <ul class="flex">
        <li
          class="text-white lg:text-xl sm:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 sm:px-2 px-2 lg:border-2 border sm:hover:bg-orange-500 active:bg-orange-500"
        >
          <a href="#skills">Skills</a>
        </li>
        <li
          class="text-white lg:text-xl sm:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 sm:px-2 px-2 lg:border-2 lg:border-l-[0px] border border-l-[0px] sm:hover:bg-orange-500 active:bg-orange-500"
        >
          <a href="#projects">Projects</a>
        </li>
        <li
          class="text-white lg:text-xl sm:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 sm:px-2 px-2 lg:border-2 lg:border-l-[0px] border border-l-[0px] sm:hover:bg-orange-500 active:bg-orange-500"
        >
          <a href="#about">About</a>
        </li>
        <li
          class="text-white lg:text-xl sm:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 sm:px-2 px-2 lg:border-2 lg:border-l-[0px] border border-l-[0px] sm:hover:bg-orange-500 active:bg-orange-500"
        >
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <img
    class="object-fill w-screen bg-orange-100"
    src={topskillswave}
    alt="waves"
  />
</div>
