---
import topskillswave from '../assets/images/topskillswave.png';

const name = "Matt";
---
<div class="flex justify-center">
<div class="flex container mx-auto max-w-[65%] h-[40vw] pt-[300px]">
  <div class="flex flex-col justify-start mb-20 p-10">
    <h1 class="font-bold text-white py-5 text-7xl">Hi, I'm <span class="text-orange-500">{name}</span>.<br> I'm a front-end developer.</h1>
    <ul class="flex flex-row justify-start">
        <li class="text-white text-xl px-5 border-2 py-3 hover:bg-orange-500"><a href="#skills" >Skills</a></li>
        <li class="text-white text-xl px-5 border-2 py-3 hover:bg-orange-500"><a href="#projects" >Projects</a></li>
        <li class="text-white text-xl px-5 border-2 py-3 hover:bg-orange-500"><a href="#about" >About</a></li>
        <li class="text-white text-xl px-5 border-2 py-3 hover:bg-orange-500"><a href="#contact" >Contact</a></li>
    </ul>
  </div>
</div>
</div>
<div>
  <img class="object-fill w-screen bg-orange-100" src={topskillswave} alt="waves" />
</div>
