---
import topskillswave from "../assets/images/topskillswave.png";

const name = "Matt";
---

<div class="flex">
  <div
    class="flex md:container mx-auto md:max-w-[65%] max-w-[85%] my-40 2xl:pt-[300px] xl:pt-[250px] lg:pt-[250px] md:pt-[150px]"
  >
    <div class="flex flex-col mb-20">
      <h1
        class="font-bold text-white py-5 xl:text-6xl 2xl:text-7xl lg:text-5xl md:text-4xl text-2xl"
      >
        Hi, I'm <span class="text-orange-500">{name}</span>.<br /> I'm a front-end
        developer.
      </h1>
      <ul class="flex">
        <li
          class="text-white lg:text-xl md:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 md:px-2 px-1 lg:border-2 border hover:bg-orange-500"
        >
          <a href="#skills">Skills</a>
        </li>
        <li
          class="text-white lg:text-xl md:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 md:px-2 px-1 lg:border-2 border hover:bg-orange-500"
        >
          <a href="#projects">Projects</a>
        </li>
        <li
          class="text-white lg:text-xl md:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 md:px-2 px-1 lg:border-2 border hover:bg-orange-500"
        >
          <a href="#about">About</a>
        </li>
        <li
          class="text-white lg:text-xl md:text-base text-sm 2xl:px-5 2xl:py-2 xl:px-4 xl:py-2 lg:px-3 lg:py-1 md:px-2 px-1 lg:border-2 border hover:bg-orange-500"
        >
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <img
    class="object-fill w-screen bg-orange-100"
    src={topskillswave}
    alt="waves"
  />
</div>
