---

---

<ul class="flex flex-row justify-end mx-10 top-0 sticky">
    <li><a class="text-white flex rounded-lg text-xl duration-300 px-7 py-5 hover:bg-white" href="https://www.linkedin.com/in/matt-hanger-6212b1267/" target="_blank"><img src="src/Assets/images/linkedin.png" alt="LinkedIn" height="45" width="45"/></a></li>
    <li><a class="text-white flex rounded-lg text-xl duration-300 px-7 py-5 hover:bg-white" href="https://github.com/Matt-Hanger" target="_blank"><img src="src/Assets/images/github.png" alt="GitHub" height="45" width="45"/></a></li>
    <li><a class="text-white flex rounded-lg text-xl duration-300 px-7 py-5 hover:bg-white" href="src/Assets/Documents/MattHanger_Resume.pdf" target="_blank"><img src="src/Assets/images/resume.png" alt="Resume" width="35"/></a></li>
</ul>