---
---

<ul>
    <li><a href="https://www.linkedin.com/in/matt-hanger-6212b1267/" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/Matt-Hanger" target="_blank">GitHub</a></li>
    <li><a href="/index" target="_blank">TBD</a></li>
    <li><a href="/index" target="_blank">Resume</a></li>
</ul>

<style>
    a {
        color: whitesmoke;
        display: block;
        font-size: 16pt;
        padding: 1rem;
        text-decoration: none;
    }

    a:hover {
        background-color: black;
        color: whitesmoke;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-left: 2rem;
    }
    </style>