---
import bottomskillswave from "../assets/images/bottomskillswave.png";
---

<div class="flex">
  <div class="w-screen">
    <img class="object-fill w-screen" src={bottomskillswave} alt="waves" />
    <div
      id="projects"
      class="container flex justify-center mx-auto max-w-[65%] my-10 h-[500px] bg-orange-50 rounded-lg"
    >
      <h1 class="text-orange-700 p-10 text-5xl">Projects</h1>
    </div>
  </div>
</div>
