---

---
<div class="flex flex-row bg-[url('src/assets/images/bottomskillswave.svg')] bg-orange-100 bg-cover aspect-[2160/360]">
    <div id="projects" class="container flex justify-center mx-auto mx-md my-10 h-[500px] bg-orange-50 rounded-lg">
        <h1 class="text-orange-700 p-10 text-5xl" >Projects</h1>
    </div>
</div>