---

---
<div class="flex flex-row bg-orange-500">
    <div id="skills" class="container flex justify-center mx-auto mx-md my-10 h-[500px] bg-orange-50 rounded-lg">
        <h1 class="text-orange-700 p-10 text-5xl" >Skills</h1>
    </div>
</div>