---
import linkedin from '../assets/images/linkedin.png';
import github from '../assets/images/github.png';
import resume from '../assets/images/resume.png';
import layeredwaves from '../assets/images/layered-waves.png';
---


<div class="flex justify-center bg-orange-100">
    <div class="flex flex-col flex-start">
    <div class="flex flex-row p-2 gap-[200px]">
      <div class="flex flex-col justify-center mb-6 text-orange-950">
        <h2 class="text-lg font-bold">On This Page</h2>
        <ul class="flex flex-col mx-3 pt-3 gap-1">
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="flex flex-col justify-center mb-20 p-10 text-orange-950">
        <h2 class="text-lg font-bold">Links</h2>
        <ul class="flex flex-row">
          <li><a class="text-white flex rounded-lg text-xl duration-300 px-5 py-3 hover:bg-[#4d4d4d]" href="https://www.linkedin.com/in/matt-hanger-6212b1267/" target="_blank"><img src={linkedin} alt="LinkedIn" height="35" width="35"/></a></li>
          <li><a class="text-white flex rounded-lg text-xl duration-300 px-5 py-3 hover:bg-[#4d4d4d]" href="https://github.com/Matt-Hanger" target="_blank"><img src={github} alt="GitHub" height="35" width="35"/></a></li>
          <li><a class="text-white flex rounded-lg text-xl duration-300 px-5 py-3 hover:bg-[#4d4d4d]" href="src/assets/documents/MattHanger_Resume.pdf" target="_blank"><img src={resume} alt="Resume" width="28"/></a></li>
        </ul>
      </div>
    </div>
    </div>
</div>
<div>
  <img class="object-fill w-screen bg-orange-100" src={layeredwaves} alt="waves" />
</div>
<p class="text-orange-500 text-center p-5">&copy; {new Date().getFullYear()} My Portfolio. All rights reserved.</p>

