---

---


<div class="flex flex-row justify-center bg-[url(src/assets/images/layered-waves.svg)] bg-orange-100 bg-cover bg-center bg-no-repeat aspect-[2160/360]">
    <div class="flex flex-col flex-start">
    <div class="flex flex-row p-2 gap-[200px]">
      <div class="flex flex-col justify-center mb-6 text-orange-950">
        <h2 class="text-lg font-bold">On This Page</h2>
        <ul class="flex flex-col mx-3 pt-3 gap-1">
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="flex flex-col justify-center mb-20 p-10 text-orange-950">
        <h2 class="text-lg font-bold">Links</h2>
        <ul class="flex flex-row">
          <li><a class="text-white flex rounded-lg text-xl duration-300 px-5 py-3 hover:bg-[#4d4d4d]" href="https://www.linkedin.com/in/matt-hanger-6212b1267/" target="_blank"><img src="src/assets/images/linkedin.png" alt="LinkedIn" height="35" width="35"/></a></li>
          <li><a class="text-white flex rounded-lg text-xl duration-300 px-5 py-3 hover:bg-[#4d4d4d]" href="https://github.com/Matt-Hanger" target="_blank"><img src="src/assets/images/github.png" alt="GitHub" height="35" width="35"/></a></li>
          <li><a class="text-white flex rounded-lg text-xl duration-300 px-5 py-3 hover:bg-[#4d4d4d]" href="src/assets/documents/MattHanger_Resume.pdf" target="_blank"><img src="src/assets/images/resume.png" alt="Resume" width="28"/></a></li>
        </ul>
      </div>
    </div>
    </div>
</div>
<p class="text-orange-500 text-center p-5">&copy; {new Date().getFullYear()} My Portfolio. All rights reserved.</p>

