---
import Footer from "./footer.astro";
import Hero from "../components/hero.astro";
import Nav from "../components/nav.astro";
import Contact from "../components/contact.astro";
import Skills from "../components/skills.astro";
import Projects from "../components/projects.astro";
import About from "../components/about.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matt Hanger Portfolio</title>
  </head>
  <body>
    <Nav />
    <Hero />
    <Skills />
    <Projects />
    <About />
    <Contact />
    <Footer />
  </body>
</html>

<style>
* {
  margin: 0;
  padding: 0;
  background-color: rgb(77, 77, 77);
}
</style>


