---
import Footer from "./footer.astro";
import Hero from "../components/hero.astro";
import Nav from "../components/nav.astro";
import Contact from "../components/contact.astro";
import Skills from "../components/skills.astro";
import Projects from "../components/projects.astro";
import About from "../components/about.astro";
import icon from '../assets/images/favicon.png';
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href={icon}>
    <title>Matt Hanger Portfolio</title>
  </head>
  <body class="bg-[#4d4d4d]">
    <Nav />
    <Hero />
    <Skills />
    <Projects />
    <About />
    <Contact />
    <Footer />
  </body>
</html>


